<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{{ page.meta_description }}">
        <link rel="icon" type="image/png" href="{{ '/assets/favicon.png' | relative_url }}">
        <meta name="robots" content="noindex, nofollow"/>
        <title>CDSC-WG1 - {{ page.title }}</title>
        <link href="{{ '/assets/bootstrap-5.1.3-dist/css/bootstrap.min.css' | relative_url }}" rel="stylesheet">
        <style>
            /* Permalink styling */
            .permalink {
                text-decoration:none;
                font-size: 60%;
                display: inline-block;
                vertical-align: top;
                padding-top: 0.4em;
            }
            /* SVG icons (based on https://github.com/diafygi/svg-font-to-svg-sprite-converter)
               Example (put "svgicons: fa-link, fa-plus-circle" in front matter):
               <svg class="svgicon"><use href="#fa-link"/></svg>
               <svg class="svgicon"><use href="#fa-plus-circle"/></svg>
            */
            #svgicon-defs{
                display: none;
            }
            .svgicon {
                overflow: visible !important;
                height: 0.7em;
                width: 0.7em;
                fill:currentColor;
            }
        </style>
    </head>
    <body>
        <!-- SVG Icons (see comment in css above on how to use) -->
        <svg id="svgicon-defs" xmlns="http://www.w3.org/2000/svg">
            <defs>
                {% include fontawesome/fa-external-link.svg %}
                {% assign additional_svgicons = page.svgicons | split: ',' %}
                {% for svgicon_name in additional_svgicons %}
                    {% assign svgicon_file = svgicon_name | strip | prepend: "fontawesome/" | append: ".svg" %}
                    {% include {{ svgicon_file }} %}
                {% endfor %}
            </defs>
        </svg>

        <!-- Header -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a
                    class="navbar-brand"
                    href="{{ '/' | relative_url }}"
                    >CDSC-WG1</a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#header"
                    aria-controls="header"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="header">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a
                                class="nav-link{% if page.nav == 'home' %} active text-decoration-underline{% endif %}"
                                {% if page.nav == 'home' %}aria-current="page"{% endif %}
                                href="{{ '/' | relative_url }}"
                                >Home</a>
                        </li>
                        <li class="nav-item">
                            <a
                                class="nav-link{% if page.nav == 'use_cases' %} active text-decoration-underline{% endif %}"
                                {% if page.nav == 'use_cases' %}aria-current="page"{% endif %}
                                href="{{ '/use-cases' | relative_url }}"
                                >Use Cases</a>
                        </li>
                        <li class="nav-item">
                            <a
                                class="nav-link{% if page.nav == 'specs' %} active text-decoration-underline{% endif %}"
                                {% if page.nav == 'use_cases' %}aria-current="page"{% endif %}
                                href="{{ '/specs' | relative_url }}"
                                >Specifications</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://github.com/carbon-data-specification/Customer-Data/tree/main/meetings" target="_blank"
                                >Meeting Minutes
                                <svg class="svgicon"><use href="#fa-external-link"/></svg></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Content -->
        <div role="main" class="container pt-3 pb-5">
            <div class="row">
                <div class="col">
                    {{ content }}
                </div>
            </div>
        </div>

        <!-- Footer -->
        <footer class="bg-light pt-5 pb-5">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h4>Customer Data Working Group:</h4>
                        <ul>
                            <li>
                                <a href="{{ '/' | relative_url }}"
                                    >Working Group website</a>
                                (this website!)
                            </li>
                            <li>
                                <a href="{{ '/use-cases' | relative_url }}"
                                    >Use Cases</a>
                            </li>
                            <li>
                                <a href="{{ '/specs' | relative_url }}"
                                    >Specifications</a>
                            </li>
                            <li>
                                <a href="https://github.com/carbon-data-specification/Customer-Data" target="_blank"
                                    >Github Repository
                                    <svg class="svgicon"><use href="#fa-external-link"/></svg></a>
                            </li>
                            <li>
                                <a href="https://github.com/carbon-data-specification/Customer-Data/tree/main/meetings" target="_blank"
                                    >Meeting Minutes
                                    <svg class="svgicon"><use href="#fa-external-link"/></svg></a>
                            </li>
                            <li>
                                <a href="https://github.com/carbon-data-specification/Customer-Data/pulls" target="_blank"
                                    >Active Pull Requests
                                    <svg class="svgicon"><use href="#fa-external-link"/></svg></a>
                            </li>
                            <li>
                                <a href="https://lists.lfenergy.org/g/cdsc-customer-data-wg" target="_blank"
                                    >Mailing List
                                    <svg class="svgicon"><use href="#fa-external-link"/></svg></a>
                            </li>
                            <li>
                                <a href="https://lists.lfenergy.org/g/cdsc-customer-data-wg/calendar" target="_blank"
                                    >Event Calendar
                                    <svg class="svgicon"><use href="#fa-external-link"/></svg></a>
                            </li>
                            <li>
                                <a href="https://slack.lfenergy.org/" target="_blank"
                                    >Slack
                                    <svg class="svgicon"><use href="#fa-external-link"/></svg></a>
                                (channel: <code>#cdsc-customer-data-wg</code>)
                            </li>
                        </ul>
                    </div>
                    <div class="col">
                        <h4>CDSC / Linux Foundation:</h4>
                        <ul>
                            <li>
                                <a href="https://www.lfenergy.org/projects/carbon-data-specification-cds/" target="_blank"
                                    >Carbon Data Specification Consortium (CDSC)
                                    <svg class="svgicon"><use href="#fa-external-link"/></svg></a>
                                <ul>
                                    <li>
                                        <a href="https://github.com/carbon-data-specification/Power-Systems-Data" target="_blank"
                                            >Power Systems Data Working Group (WG2)
                                            <svg class="svgicon"><use href="#fa-external-link"/></svg></a>
                                    </li>
                                    <li>
                                        <a href="https://lists.lfenergy.org/g/cdsc-tsc" target="_blank"
                                            >Technical Steering Committee (TSC)
                                            <svg class="svgicon"><use href="#fa-external-link"/></svg></a>
                                    </li>
                                    <li>
                                        <a href="https://lists.lfenergy.org/g/cdsc-strategy-committee" target="_blank"
                                            >Strategy Committee (TSC)
                                            <svg class="svgicon"><use href="#fa-external-link"/></svg></a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="https://www.linuxfoundation.org/" target="_blank"
                                    >Linux Foundation
                                    <svg class="svgicon"><use href="#fa-external-link"/></svg></a>
                                <ul>
                                    <li>
                                        <a href="https://www.lfenergy.org/" target="_blank"
                                            >LF Energy
                                            <svg class="svgicon"><use href="#fa-external-link"/></svg></a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>

        <!-- Scripts -->
        <script src="{{ '/assets/bootstrap-5.1.3-dist/js/bootstrap.bundle.min.js' | relative_url }}"></script>
        {% assign additional_js_list = page.additional_js | split: ',' %}
        {% for additional_js in additional_js_list %}
            <script src="{{ additional_js | strip | relative_url }}" defer></script>
        {% endfor %}
    </body>
</html>

